@model TestCrud.Models.TypeVehiculeNew

@{
    ViewData["Title"] = "Modifier TypeVehiculeNew";
    var newLocalId = Guid.NewGuid();
    var modelTypeName = ViewData.ModelMetadata.ModelType.Name;
    var hideLayout = ViewBag.Layout is bool bLayout && bLayout == false;
    string errorMessage = ViewBag.ErrorMessage;
    if (hideLayout)
    {
        Layout = null;
    }
    else
    {
        @section CssStyle{
            @{
                //await Html.RenderPartialAsync("_SlickGridStylePartial");        // pour la grille
            }
        }
        @section Scripts{
            @{
                //await Html.RenderPartialAsync("_SlickGridScriptsPartial");        // pour la grille
                await Html.RenderPartialAsync("_CrudScriptsPartial");             // pour les fenêtres de dialog du CRUD
                await Html.RenderPartialAsync("_SpaEntitySignalScriptsPartial");  // pour les mises à jour instantanées de la page
                <script type='text/javascript'>
                    $(function () {
                        InitCrud('@(ViewContext.RouteData.Values["controller"])');
                    });
                </script>
            }
        }
    }
}
@if (!hideLayout)
{
    @Html.Raw($"<h1>{ViewData["Title"]}</h1><div class='card'><div class='card-header'><h3 class='card-title'></h3></div><div class='card-body'><div class='flex-layout s-Panel' id='crudPrincipal'>");
    }
    <div id="@(newLocalId)_DialogContent" class="s-DialogContent ui-tabs ui-corner-all ui-widget ui-widget-content">
    <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="@(newLocalId)_Tab1" aria-labelledby="@(newLocalId)_Principal" aria-selected="true" aria-expanded="true"><a href="#" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="@(newLocalId)_Principal"><span>Principal</span></a></li>
    </ul>
    <div id="@(newLocalId)_Tab1" class="tab-pane ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="@(newLocalId)_Principal" role="tabpanel" aria-hidden="false" style="">
    <div class="s-Form">
    <form asp-action="Edit" asp-route-layout="@(!hideLayout)" data-ajax="@(hideLayout.ToString().ToLower())" data-ajax-success="AjaxFormSuccess" data-ajax-failure="AjaxFormFailure" style="width:100%">
    <div class="ajax-error-text text-danger" style="@(String.IsNullOrWhiteSpace(errorMessage) ? "display:none" : "")">@errorMessage</div>
    <div id="@(newLocalId)_Tab1_Toolbar" class="s-DialogToolbar s-Toolbar clearfix">
    <div class="tool-buttons">
    <div class="buttons-outer">
    <div class="buttons-inner">
    <div class="tool-button save-and-close-button">
    <div class="button-outer"><span class="button-inner">Sauver</span></div>
</div>
</div>
</div>
</div>
</div>
    <div class="fieldset" data-entity="@modelTypeName" data-id="@Model.Id" data-action="Edit">
    <div class="s-PropertyGrid">
    <div class="category-links">
    <a class="category-link" tabindex="-1" href="#">Infos principales</a>
    <div class="clear"></div>
</div>
    <div class="categories">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="category">
    <div class="category-title">
    <a class="category-anchor" name="@(newLocalId)_Tab1_Cat1">Infos principales</a>
</div>
            <div class="field">
                <label asp-for="TypeVehiculeTexte" class="caption"></label>
                <input asp-for="TypeVehiculeTexte" class="editor" />
                <span asp-validation-for="TypeVehiculeTexte" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Libelle" class="caption"></label>
                <input asp-for="Libelle" class="editor" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="field form-check">
                <label class="caption form-check-label">
                    <input class="editor form-check-input" asp-for="Remorque" /> @Html.DisplayNameFor(model => model.Remorque)
                </label>
            </div>
            <div class="field form-check">
                <label class="caption form-check-label">
                    <input class="editor form-check-input" asp-for="Camion" /> @Html.DisplayNameFor(model => model.Camion)
                </label>
            </div>
            <div class="field form-check">
                <label class="caption form-check-label">
                    <input class="editor form-check-input" asp-for="Tracteur" /> @Html.DisplayNameFor(model => model.Tracteur)
                </label>
            </div>
            <div class="field form-check">
                <label class="caption form-check-label">
                    <input class="editor form-check-input" asp-for="SousTraitant" /> @Html.DisplayNameFor(model => model.SousTraitant)
                </label>
            </div>
            <div class="field">
                <label asp-for="Autoroute" class="caption"></label>
                <input asp-for="Autoroute" class="editor" />
                <span asp-validation-for="Autoroute" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Route" class="caption"></label>
                <input asp-for="Route" class="editor" />
                <span asp-validation-for="Route" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="RouteSec" class="caption"></label>
                <input asp-for="RouteSec" class="editor" />
                <span asp-validation-for="RouteSec" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="DateCreation" class="caption"></label>
                <input asp-for="DateCreation" class="editor" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="DateSaisie" class="caption"></label>
                <input asp-for="DateSaisie" class="editor" />
                <span asp-validation-for="DateSaisie" class="text-danger"></span>
            </div>
        <input type="hidden" asp-for="Id" />
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>

