@model TestCrud.Models.Client

@{
    ViewData["Title"] = "Fiche Client";
    var newLocalId = Guid.NewGuid();
    var modelTypeName = ViewData.ModelMetadata.ModelType.Name;
    var hideLayout = ViewBag.Layout is bool bLayout && bLayout == false;
    if (hideLayout)
    {
        Layout = null;
    }
    else
    {
        @section CssStyle{
            @{
                //await Html.RenderPartialAsync("_SlickGridStylePartial");        // pour la grille
            }
        }
        @section Scripts{
            @{
                //await Html.RenderPartialAsync("_SlickGridScriptsPartial");        // pour la grille
                await Html.RenderPartialAsync("_CrudScriptsPartial");             // pour les fenêtres de dialog du CRUD
                await Html.RenderPartialAsync("_SpaEntitySignalScriptsPartial");  // pour les mises à jour instantanées de la page
                <script type='text/javascript'>
                    $(function () {
                        InitCrud('@(ViewContext.RouteData.Values["controller"])');
                    });
                </script>
            }
        }
    }
}
@if (!hideLayout)
{
    @Html.Raw($"<h1>{ViewData["Title"]}</h1><div class='card'><div class='card-header'><h3 class='card-title'></h3></div><div class='card-body'><div class='flex-layout s-Panel' id='crudPrincipal'>");
    }
    <div id="@(newLocalId)_DialogContent" class="s-DialogContent ui-tabs ui-corner-all ui-widget ui-widget-content">
    <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="@(newLocalId)_Tab1" aria-labelledby="@(newLocalId)_Principal" aria-selected="true" aria-expanded="true"><a href="#" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="@(newLocalId)_Principal"><span>Principal</span></a></li>
    </ul>
    <div id="@(newLocalId)_Tab1" class="tab-pane ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="@(newLocalId)_Principal" role="tabpanel" aria-hidden="false" style="">
    <div class="s-Form">
    <div class="fieldset" data-entity="@modelTypeName" data-id="@Model.Id" data-action="Details">
    <div class="s-PropertyGrid">
    <div class="category-links">
    <a class="category-link" tabindex="-1" href="#">Infos principales</a>
    <div class="clear"></div>
</div>
    <div class="categories">
    <div class="category">
    <div class="category-title">
    <a class="category-anchor" name="@(newLocalId)_Tab1_Cat1">Infos principales</a>
</div>
                <div class="field">
                    <label class="caption">
                        @Html.DisplayNameFor(model => model.Nom)
                    </label>
                    <div name='Nom'>
                        @Html.DisplayFor(model => model.Nom)
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
        </div>
    </div>
</div>

