@model TestCrud.Models.VehiculeNew

@{
    ViewData["Title"] = "Modifier VehiculeNew";
    var newLocalId = Guid.NewGuid();
    var modelTypeName = ViewData.ModelMetadata.ModelType.Name;
    var hideLayout = ViewBag.Layout is bool bLayout && bLayout == false;
    string errorMessage = ViewBag.ErrorMessage;
    if (hideLayout)
    {
        Layout = null;
    }
    else
    {
        @section CssStyle{
            @{
                //await Html.RenderPartialAsync("_SlickGridStylePartial");        // pour la grille
            }
        }
        @section Scripts{
            @{
                //await Html.RenderPartialAsync("_SlickGridScriptsPartial");        // pour la grille
                await Html.RenderPartialAsync("_CrudScriptsPartial");             // pour les fenêtres de dialog du CRUD
                await Html.RenderPartialAsync("_SpaEntitySignalScriptsPartial");  // pour les mises à jour instantanées de la page
                <script type='text/javascript'>
                    $(function () {
                        InitCrud('@(ViewContext.RouteData.Values["controller"])');
                    });
                </script>
            }
        }
    }
}
@if (!hideLayout)
{
    @Html.Raw($"<h1>{ViewData["Title"]}</h1><div class='card'><div class='card-header'><h3 class='card-title'></h3></div><div class='card-body'><div class='flex-layout s-Panel' id='crudPrincipal'>");
    }
    <div id="@(newLocalId)_DialogContent" class="s-DialogContent ui-tabs ui-corner-all ui-widget ui-widget-content">
    <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="@(newLocalId)_Tab1" aria-labelledby="@(newLocalId)_Principal" aria-selected="true" aria-expanded="true"><a href="#" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="@(newLocalId)_Principal"><span>Principal</span></a></li>
    </ul>
    <div id="@(newLocalId)_Tab1" class="tab-pane ui-tabs-panel ui-corner-bottom ui-widget-content" aria-labelledby="@(newLocalId)_Principal" role="tabpanel" aria-hidden="false" style="">
    <div class="s-Form">
    <form asp-action="Edit" asp-route-layout="@(!hideLayout)" data-ajax="@(hideLayout.ToString().ToLower())" data-ajax-success="AjaxFormSuccess" data-ajax-failure="AjaxFormFailure" style="width:100%">
    <div class="ajax-error-text text-danger" style="@(String.IsNullOrWhiteSpace(errorMessage) ? "display:none" : "")">@errorMessage</div>
    <div id="@(newLocalId)_Tab1_Toolbar" class="s-DialogToolbar s-Toolbar clearfix">
    <div class="tool-buttons">
    <div class="buttons-outer">
    <div class="buttons-inner">
    <div class="tool-button save-and-close-button">
    <div class="button-outer"><span class="button-inner">Sauver</span></div>
</div>
</div>
</div>
</div>
</div>
    <div class="fieldset" data-entity="@modelTypeName" data-id="@Model.Id" data-action="Edit">
    <div class="s-PropertyGrid">
    <div class="category-links">
    <a class="category-link" tabindex="-1" href="#">Infos principales</a>
    <div class="clear"></div>
</div>
    <div class="categories">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="category">
    <div class="category-title">
    <a class="category-anchor" name="@(newLocalId)_Tab1_Cat1">Infos principales</a>
</div>
            <div class="field">
                <label asp-for="Immatriculation" class="caption"></label>
                <input asp-for="Immatriculation" class="editor" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="VehiculeTexte" class="caption"></label>
                <input asp-for="VehiculeTexte" class="editor" />
                <span asp-validation-for="VehiculeTexte" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Libelle" class="caption"></label>
                <input asp-for="Libelle" class="editor" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Autoroute" class="caption"></label>
                <input asp-for="Autoroute" class="editor" />
                <span asp-validation-for="Autoroute" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Route" class="caption"></label>
                <input asp-for="Route" class="editor" />
                <span asp-validation-for="Route" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="RouteSec" class="caption"></label>
                <input asp-for="RouteSec" class="editor" />
                <span asp-validation-for="RouteSec" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Tiers" class="caption"></label>
                <input asp-for="Tiers" class="editor" />
                <span asp-validation-for="Tiers" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Marque" class="caption"></label>
                <input asp-for="Marque" class="editor" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="MiseEnService" class="caption"></label>
                <input asp-for="MiseEnService" class="editor" />
                <span asp-validation-for="MiseEnService" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Acquisition" class="caption"></label>
                <input asp-for="Acquisition" class="editor" />
                <span asp-validation-for="Acquisition" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="NoCg" class="caption"></label>
                <input asp-for="NoCg" class="editor" />
                <span asp-validation-for="NoCg" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Genre" class="caption"></label>
                <input asp-for="Genre" class="editor" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="TypeCg" class="caption"></label>
                <input asp-for="TypeCg" class="editor" />
                <span asp-validation-for="TypeCg" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="NoSerie" class="caption"></label>
                <input asp-for="NoSerie" class="editor" />
                <span asp-validation-for="NoSerie" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Carrosserie" class="caption"></label>
                <input asp-for="Carrosserie" class="editor" />
                <span asp-validation-for="Carrosserie" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Notes" class="caption"></label>
                <input asp-for="Notes" class="editor" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="PoidsVide" class="caption"></label>
                <input asp-for="PoidsVide" class="editor" />
                <span asp-validation-for="PoidsVide" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Palette" class="caption"></label>
                <input asp-for="Palette" class="editor" />
                <span asp-validation-for="Palette" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Poids" class="caption"></label>
                <input asp-for="Poids" class="editor" />
                <span asp-validation-for="Poids" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="MetrageLineaire" class="caption"></label>
                <input asp-for="MetrageLineaire" class="editor" />
                <span asp-validation-for="MetrageLineaire" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Volume" class="caption"></label>
                <input asp-for="Volume" class="editor" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Longueur" class="caption"></label>
                <input asp-for="Longueur" class="editor" />
                <span asp-validation-for="Longueur" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Largeur" class="caption"></label>
                <input asp-for="Largeur" class="editor" />
                <span asp-validation-for="Largeur" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Hauteur" class="caption"></label>
                <input asp-for="Hauteur" class="editor" />
                <span asp-validation-for="Hauteur" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Ptac" class="caption"></label>
                <input asp-for="Ptac" class="editor" />
                <span asp-validation-for="Ptac" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="DateSortie" class="caption"></label>
                <input asp-for="DateSortie" class="editor" />
                <span asp-validation-for="DateSortie" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="PaysOrigine" class="caption"></label>
                <input asp-for="PaysOrigine" class="editor" />
                <span asp-validation-for="PaysOrigine" class="text-danger"></span>
            </div>
            <div class="field form-check">
                <label class="caption form-check-label">
                    <input class="editor form-check-input" asp-for="Cabotage" /> @Html.DisplayNameFor(model => model.Cabotage)
                </label>
            </div>
            <div class="field">
                <label asp-for="DebutCabotage" class="caption"></label>
                <input asp-for="DebutCabotage" class="editor" />
                <span asp-validation-for="DebutCabotage" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="DateCreation" class="caption"></label>
                <input asp-for="DateCreation" class="editor" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="DateSaisie" class="caption"></label>
                <input asp-for="DateSaisie" class="editor" />
                <span asp-validation-for="DateSaisie" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="AdresseId" class="caption"></label>
                <select asp-for="AdresseId" class="select2" asp-items="ViewBag.AdresseId" data-entity="AdresseNew"><option value="">- Aucun -</option></select>
                <a asp-controller="AdresseNew" asp-action="Edit" class="crud_indialog inplace-button inplace-create edit" data-entity="AdresseNew" data-field="AdresseId" data-row=""><b data="Edit"></b></a>
                <a asp-controller="AdresseNew" asp-action="Create" class="crud_indialog inplace-button inplace-create create" data-entity="AdresseNew" data-field="AdresseId" data-row=""><b data="Create"></b></a>
            </div>
            <div class="field">
                <label asp-for="TypePlanningId" class="caption"></label>
                <select asp-for="TypePlanningId" class="select2" asp-items="ViewBag.TypePlanningId" data-entity="TypePlanningNew"><option value="">- Aucun -</option></select>
                <a asp-controller="TypePlanningNew" asp-action="Edit" class="crud_indialog inplace-button inplace-create edit" data-entity="TypePlanningNew" data-field="TypePlanningId" data-row=""><b data="Edit"></b></a>
                <a asp-controller="TypePlanningNew" asp-action="Create" class="crud_indialog inplace-button inplace-create create" data-entity="TypePlanningNew" data-field="TypePlanningId" data-row=""><b data="Create"></b></a>
            </div>
            <div class="field">
                <label asp-for="TypeVehiculeId" class="caption"></label>
                <select asp-for="TypeVehiculeId" class="select2" asp-items="ViewBag.TypeVehiculeId" data-entity="TypeVehiculeNew"><option value="">- Aucun -</option></select>
                <a asp-controller="TypeVehiculeNew" asp-action="Edit" class="crud_indialog inplace-button inplace-create edit" data-entity="TypeVehiculeNew" data-field="TypeVehiculeId" data-row=""><b data="Edit"></b></a>
                <a asp-controller="TypeVehiculeNew" asp-action="Create" class="crud_indialog inplace-button inplace-create create" data-entity="TypeVehiculeNew" data-field="TypeVehiculeId" data-row=""><b data="Create"></b></a>
            </div>
            <div class="field">
                <label asp-for="CategorieVehiculeId" class="caption"></label>
                <select asp-for="CategorieVehiculeId" class="select2" asp-items="ViewBag.CategorieVehiculeId" data-entity="CategorieVehiculeNew"><option value="">- Aucun -</option></select>
                <a asp-controller="CategorieVehiculeNew" asp-action="Edit" class="crud_indialog inplace-button inplace-create edit" data-entity="CategorieVehiculeNew" data-field="CategorieVehiculeId" data-row=""><b data="Edit"></b></a>
                <a asp-controller="CategorieVehiculeNew" asp-action="Create" class="crud_indialog inplace-button inplace-create create" data-entity="CategorieVehiculeNew" data-field="CategorieVehiculeId" data-row=""><b data="Create"></b></a>
            </div>
        <input type="hidden" asp-for="Id" />
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>

